<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">

  <title>Access Denied</title>
  <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<!--<div th:insert="fragments/header :: main"></div>-->
<h1>Customer </h1>
<script th:inline="javascript">
  window.alert("Access Denied, you don't have permission to do that!");
  window.location.href = 'http://localhost:8080/customer';
</script>
<!--<div th:insert="fragments/footer :: main"></div>-->
</body>
</html>