<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title>Product editor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<!--<div th:insert="fragments/header :: main"></div>-->
<h1>The Product Details</h1>

<form th:action="@{/addProduct}" th:object="${productToAdd}" method="post">
    <label for="productid">Product id:</label><br>
    <input type="number" id="productid" name="productid" th:field="*{id}"><br>
    <label for="productname">Product name:</label><br>
    <input type="text" id="productname" name="productname" th:field="*{productName}"><br>
    <label for="unitprice">Unit Price:</label><br>
    <input type="text" id="unitprice" name="unitprice" th:field="*{unitPrice}"><br>
    <label for="discontinued">Discontinued True/False:</label><br>
    <input type="text" id="discontinued" name="discontinued" th:field="*{discontinued}"><br><br>
    <input type="submit" value="Submit">
</form>
<!--<div th:insert="fragments/footer :: main"></div>-->
</body>
</html>