<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title>Customers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">


</head>
<body>
<div th:insert="fragments/header :: main"></div>

<br>
<h1>The Customer Details</h1>
<br>
<table>
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Contact Name
        </th>
        <th>
            Company Name
        </th>
        <th>
            Phone
        </th>

        <th>

        </th>
        <th>
            <a th:href="@{customer/add/}">Add New Customer</a>
        </th>

    </tr>

    </thead>

    <tr th:each="customer:${customerList}">
        <td th:text="${customer.id}">

        </td>
        <td th:text="${customer.contactName}">

        </td>
        <td th:text="${customer.companyName}">

        </td>
        <td th:text="${customer.phone}">

        </td>
        <td><a th:href="@{customer/delete/{id}(id=${customer.id})}">Delete</a>
        </td>
        <td>
            <a th:href="@{customer/edit/{id}(id=${customer.id})}">Edit</a>
        </td>
    </tr>

</table>
<div th:insert="fragments/footer :: main"></div>
</body>
</html>