<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>The Customer Details</h1>

<table>
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Contact Name
        </th>
        <th>
            Phone
        </th>

        <th>

        </th>

    </tr>

    </thead>

    <tr th:each="customer:${customerList}">
        <td th:text="${customer.id}">

        </td>
        <td th:text="${customer.contactName}">

        </td>
        <td th:text="${customer.phone}">

        </td>
        <td>
            <form action="#" th:action="@{'/customer/delete/{id}'(id=${customer.id})}" th:method="delete" >
                <button type="submit" class="btn">
                    Delete
                </button>
            </form>
        </td>
    </tr>

</table>

</body>
</html>