<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/edit.css}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

</head>
<body>
<div class="editContainer">
    <!--    <div th:insert="fragments/header :: main"></div>-->
    <div class="contact-box">
        <div class="left2"></div>
        <div class="right">
            <form th:action="@{/updateCustomer}" th:object="${customerToEdit}" method="post">
                <h2>Edit Customer</h2>
                <input type="text" id="customerid" name="customerid" th:field="*{id}" class="field"
                       placeholder="Customer ID">
                <input type="text" id="contactname" name="contactname" th:field="*{contactName}" class="field"
                       placeholder="Name">
                <input type="text" id="companyname" name="companyname" th:field="*{companyName}" class="field"
                       placeholder="Company Name">
                <input type="text" id="phone" name="phone" th:field="*{phone}" class="field"
                       placeholder="Phone Number">
                <button class="btn"><a th:href="@{/customer}">Back</button>
                <hr>
                <button type="submit" value="Submit" class="btn">Send</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: main"></div>
</body>
</html>