<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <title>Customer Deleted</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<!--<div th:insert="fragments/header :: main"></div>-->
<h1>Customer Successfully Updated</h1>
<script th:inline="javascript">
    window.alert("The customer was updated successfully! You are gonna be redirected to the previous page!");
    window.location.href = 'http://localhost:8080/customer';
</script>
<!--<div th:insert="fragments/footer :: main"></div>-->
</body>
</html>