<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <title>Northwind.com</title>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">

</head>

<body >
<!--<a class="burger-nav"></a>-->
<div class="into_1">
    <div class="i1 parallax"></div>
    <div class="nav_bar">
        <ul>
            <li><a th:href="@{/about}"><h3><b>Database Learning </b></h3></a></li>
            <li><a th:href="@{/customer}"><h3>Customer</h3></a></li>
            <li><a th:href="@{/product}"><h3>Product</h3></a></li>
            <li><a th:href="@{/supplier/all}"><h3>Supplier</h3></a></li>
            <li class="social right"><a th:href="@{/}"><h1><b>Northwind</b></h1></a>
            </li>
        </ul>
    </div>

</div>
</body>

</html>